*{
  margin: 0px;
  padding: 0px;
  max-width: 1280;
  box-sizing: inherit;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left top,#E96443,#904E95);
  max-width: 12;
}
.Uname1{
  z-index: 1;
  position: absolute;
left: 118px;
font-size: 26;
top: 54px;
font-family: Roboto;
}
.Uname2{
  z-index: 1;
  position: absolute;
right: 118px;
top: 54px;
font-size: 26;
font-family: Roboto;
}
.hidden{
  display: none;
}
.colChanger{
  color: yellow;
  background-color: rgb(87, 87, 87);
}
.G_frame1{
  position: absolute;
  z-index: -4;
  width: 710px;
  height: 396px;
  left: 285px;
  top: 91px;
  background: yellow;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 11px rgba(0, 0, 0, 0.25);
}

.New_Button{
  position: absolute;
width: 123px;
height: 32px;
left: 293px;
top: 21px;
z-index: 999;
background: rgb(255, 217, 0);
border-radius: 18px;
}
.scoreLine1{
  position: absolute;
  z-index: 999;
width: 134px;
height: 77px;
left: 104px;
top: 237px;
background: rgba(220, 27, 85, 0.72);
border-radius: 14px;
}
.scoreLine2{
  position: absolute;
width: 134px;
z-index: 999;
height: 77px;
left: 472px;
top: 237px;
background: rgba(231, 38, 73, 0.85);
border-radius: 14px;
}
.G_frame2{
  position: absolute;
width: 355px;
height: 396px;
left: 355px;
z-index: -3;
border-radius: 0px 10px 10px 0px;
}
.G_frame3{
  position: absolute;
width: 355px;
height: 396px;
z-index: -3;
border-radius: 10px 0px 0px 10px;
}
.DRoll{
  z-index: 999;
  position: absolute;
  left: 284px;
  top: 237px;
  width: 142px;
height: 32px;
 background: rgb(255, 217, 0);
 border-radius: 18px;
}
.DHold{
  z-index: 999;
  position: absolute;
  left: 305px;
 bottom: 81px;
  width: 99px;
height: 32px;
 background: rgb(255, 217, 0);
 border-radius: 18px;
}
.Dice{
  position: absolute;
  z-index: 999;
  left: 602px;
  top: 206px ;
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.25);
}