*{
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left top,#E96443,#904E95);
  max-width: 12;
}
